In [ ]:
import folium

In [1]:
import pandas as pd

In [ ]:
df = pd.DataFrame(data={
    'lat': [51.643801, 51.692417, 51.671493],
    'lon': [39.138167, 39.181744, 39.1758],
    'type': ['bus', 'bus', 'train']
})

In [ ]:
df

mp = folium.Map(location=(df['lat'].mean(), df['lon'].mean()), zoom_start=13, tiles='Stamen Watercolor')  # , 
mp

In [ ]:
def add_marker(row):
    folium.Marker([row['lat'], row['lon']], 
                  popup=row['type'], 
                  icon=folium.Icon(color="green" if row['type'] == 'bus' else 'blue')).add_to(mp)
    
df.apply(add_marker, axis=1);

mp

---

In [2]:
import seaborn as sns

In [4]:
df = sns.load_dataset('tips')

In [ ]:
df['day'].value_counts().plot.bar()

In [5]:
df.groupby(['day', 'time']).agg({
    'total_bill': ['mean', 'sum'],
    'tip': ['mean', 'sum'],
}).dropna()

            total_bill                tip
                  mean      sum      mean     sum
day  time
Thur Lunch   17.664754  1077.55  2.767705  168.83
     Dinner  18.780000    18.78  3.000000    3.00
Fri  Lunch   12.845714    89.92  2.382857   16.68
     Dinner  19.663333   235.96  2.940000   35.28
Sat  Dinner  20.441379  1778.40  2.993103  260.40
Sun  Dinner  21.410000  1627.16  3.255132  247.39

In [3]:
import numpy as np

In [23]:
df1 = pd.pivot_table(df, values='total_bill', index='day', columns='time').reset_index()
df1

time   day      Lunch     Dinner
0     Thur  17.664754  18.780000
1      Fri  12.845714  19.663333
2      Sat        NaN  20.441379
3      Sun        NaN  21.410000

In [ ]:
pd.melt(df1, id_vars=['day'], value_vars=['Lunch', 'Dinner'], var_name='time', value_name='total_bill')

In [ ]:
sns.heatmap(pd.pivot_table(df, values='total_bill', index='day', columns='time').fillna(0), annot=True, fmt='.2f')

In [ ]:
sns.heatmap(pd.pivot_table(df, values='tip', index='day', columns='time').fillna(0), annot=True, fmt='.2f')

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
f, axs = plt.subplots(1, 2, figsize=(15, 10))
sns.boxplot(data=df, x='sex', y='tip', hue='smoker', ax=axs[1])
plt.title('Violin')
sns.violinplot(data=df, x='sex', y='tip', hue='smoker', ax=axs[0])
plt.title('Box')